data/terrain/sa_acc_3s_COLOMBIA.tfw
data/terrain/sa_acc_3s_COLOMBIA.tif
data/terrain/sa_acc_3s_COLOMBIA.tif.aux.xml
data/terrain/sa_acc_3s_COLOMBIA.tif.xml
data/terrain/sa_dir_3s_COLOMBIA.tfw
data/terrain/sa_dir_3s_COLOMBIA.tif
data/terrain/sa_dir_3s_COLOMBIA.tif.aux.xml
data/terrain/sa_dir_3s_COLOMBIA.tif.vat.cpg
data/terrain/sa_dir_3s_COLOMBIA.tif.xml
data/climate/climate_data.nc
data/discharge/discharge.nc
*.pyc
data/data.zip
data/Models_1/AdaBoostRegressor_best_model_Flow.joblib
data/Models_1/DecisionTreeRegressor_best_model_Flow.joblib
data/Models_1/ElasticNet_best_model_Flow.joblib
data/Models_1/GradientBoostingRegressor_best_model_Flow.joblib
data/Models_1/KNeighborsRegressor_best_model_Flow.joblib
data/Models_1/LinearRegression_best_model_Flow.joblib
data/Models_1/MLPRegressor_best_model_Flow.joblib
data/Models_1/pipeline_Flow.pkl
data/Models_1/scaler_Flow.pkl
data/Models_1/SVR_best_model_Flow.joblib
data/Models_2/AdaBoostRegressor_best_model_Flow.joblib
data/Models_2/DecisionTreeRegressor_best_model_Flow.joblib
data/Models_2/ElasticNet_best_model_Flow.joblib
data/Models_2/GradientBoostingRegressor_best_model_Flow.joblib
data/Models_2/KNeighborsRegressor_best_model_Flow.joblib
data/Models_2/LinearRegression_best_model_Flow.joblib
data/Models_2/MLPRegressor_best_model_Flow.joblib
data/Models_2/pipeline_Flow.pkl
data/Models_2/scaler_Flow.pkl
data/Models_2/SVR_best_model_Flow.joblib
data/terrain/Ituango_basin.cpg
data/terrain/Ituango_basin.dbf
data/terrain/Ituango_basin.prj
data/terrain/Ituango_basin.shp
data/terrain/Ituango_basin.shx
data/terrain/Medellin_basin.cpg
data/terrain/Medellin_basin.dbf
data/terrain/Medellin_basin.prj
data/terrain/Medellin_basin.shp
data/terrain/Medellin_basin.shx
