data/terrain/sa_acc_3s_COLOMBIA.tfw
data/terrain/sa_acc_3s_COLOMBIA.tif
data/terrain/sa_acc_3s_COLOMBIA.tif.aux.xml
data/terrain/sa_acc_3s_COLOMBIA.tif.xml
data/terrain/sa_dir_3s_COLOMBIA.tfw
data/terrain/sa_dir_3s_COLOMBIA.tif
data/terrain/sa_dir_3s_COLOMBIA.tif.aux.xml
data/terrain/sa_dir_3s_COLOMBIA.tif.vat.cpg
data/terrain/sa_dir_3s_COLOMBIA.tif.xml
data/climate/climate_data.nc
data/discharge/discharge.nc
*.pyc
